# Игнорировать файлы на основе расширений
*.log           # Все файлы с расширением .log
*.tmp           # Все файлы с расширением .tmp

# Игнорировать директории
node_modules/   # Папка с зависимостями Node.js
dist/           # Папка для сборки проекта

# Игнорировать настройки редакторов
.vscode/        # Папка настроек VSCode
.idea/          # Папка настроек JetBrains

# Игнорировать операционные файлы
Thumbs.db       # Операционные файлы Windows
.DS_Store       # Операционные файлы macOS

# Игнорировать файлы конфигурации
.env            # Файлы окружения
