<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>Гэмблинг</title>
   <link href="css/style.css" rel="stylesheet" />
   <link href="css/redPill.css" rel="stylesheet" />
   <link href="../fonts/stylesheet.css" rel="stylesheet" />
   <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
   <header>
      <div class="burger">
         <span id="play-icon" style="display: none;">▶</span>
         <span id="pause-icon">╳</span>
         <input type="range" id="volume-slider" class="volume-slider" min="0" max="1" step="0.05" value="1">
       </div>
      <h1>
        <a href="/" class="header__logo">ГЭМБЛИНГ - на языке богатых</a>
      </h1>
      <% if (user) { %>
        <p id="user-balance"><%= user.balance %> деняк</p>
      <% } %>
      <div class="user-icon">
        <a href="/account"><img src="images/LK-logo.png" alt="ЛК"></a>
      </div>
    </header>

   <div class="container container_pill">
      <% if (user) { %>
         <h2 class="pill__question">Ты уверен, что хочешь этого?</h2>
         <a href="/" class="pill__decision">Сделать выбор заново</a>
         <p class="case-cost">Стоимость кейса 3 монеты</p>
         <div class="case">
            <img class="crate__image" src="../images/lega.png" alt="case" />
            <div class="roulette-wrapper" style="display: none;">
               <div class="center-indicator"></div>
               <div class="roulette"></div>
            </div>
         </div>

         <% if (user.balance >= 3) { %>
            <button class="open-button">ОТКРЫТЬ</button>
         <% } else { %>
            <p class="broke-message">Ты броук? Накинь балик!</p>
         <% } %>

         <h2>Содержимое кейса</h2>
         <div class="case-content">
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/CZ75-Auto Кровавая паутина.png" alt="CZ75-Auto" />
               </div>
               <div class="card-info rarity-blue">
                  <div class="card-info__name">
                     <p class="card-title">CZ75-Auto</p>
                     <p class="card-skin">Кровавая паутина</p>
                  </div>
               </div>
            </div>
            
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/AUG Янтарный градиент.png" alt="AUG" />
               </div>
               <div class="card-info rarity-blue">
                  <div class="card-info__name">
                     <p class="card-title">AUG</p>
                     <p class="card-skin">Янтарный градиент</p>
                  </div>
               </div>
            </div>
            
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/P250 Заражение.png" alt="P250" />
               </div>
               <div class="card-info rarity-blue">
                  <div class="card-info__name">
                     <p class="card-title">P250</p>
                     <p class="card-skin">Заражение</p>
                  </div>
               </div>
            </div>
            
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/SSG 08 Метрополитен.png" alt="SSG 08" />
               </div>
               <div class="card-info rarity-purple">
                  <div class="card-info__name">
                     <p class="card-title">SSG 08</p>
                     <p class="card-skin">Метрополитен</p>
                  </div>
               </div>
            </div>
            
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/P90 Vent Rush.png" alt="P90" />
               </div>
               <div class="card-info rarity-purple">
                  <div class="card-info__name">
                     <p class="card-title">P90</p>
                     <p class="card-skin">Vent Rush</p>
                  </div>
               </div>
            </div>
            
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/AK-47 Легион Анубиса.png" alt="AK-47" />
               </div>
               <div class="card-info rarity-red">
                  <div class="card-info__name">
                     <p class="card-title">AK-47</p>
                     <p class="card-skin">Легион Анубиса</p>
                  </div>
               </div>
            </div>
            
            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/M4A4 В живом цвете.png" alt="M4A4" />
               </div>
               <div class="card-info rarity-red">
                  <div class="card-info__name">
                     <p class="card-title">M4A4</p>
                     <p class="card-skin">В живом цвете</p>
                  </div>
               </div>
            </div>

            <div class="skin-card">
               <div class="card-background">
                  <img src="../images/snakes.webp" alt="card-background" />
               </div>
               <div class="card-image">
                  <img src="images/skins/AWP Dragon lore.png" alt="AWP" />
               </div>
               <div class="card-info rarity-red">
                  <div class="card-info__name">
                     <p class="card-title">AWP</p>
                     <p class="card-skin">Dragon lore</p>
                  </div>
               </div>
            </div>
            
         <% } else { %>
           <p>Для доступа к содержимому, пожалуйста, <a href="/account">авторизуйтесь</a>.</p>
         <% } %>
   </div>
   <!-- Добавляем аудио элемент -->
   <audio id="alert-sound" src="/sounds/case-opened.mp3" preload="auto"></audio>
   <audio id="open-sound" src="/sounds/case-opening.mp3" preload="auto"></audio>
   <audio id="background-audio" src="/sounds/Indila - Ainsi Bas La Vida.mp3" preload="auto" autoplay loop></audio>
   <script src="js/audio.js"></script>
   <script src="js/main.js"></script>
</body>

</html>
