<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Гэмблинг</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet" />
  <link href="css/style.css" rel="stylesheet" />
  <link href="fonts/stylesheet.css" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="burger">
      <span id="play-icon" style="display: none;">▶</span>
      <span id="pause-icon">╳</span>
      <input type="range" id="volume-slider" class="volume-slider" min="0" max="1" step="0.05" value="1">
    </div>
    <h1>
      <a href="/" class="header__logo">ГЭМБЛИНГ - на языке богатых</a>
    </h1>
    <% if (user) { %>
      <p id="user-balance" class="user-balance-container">
        <%= user.balance %> 🪙
      </p>
    <% } %>
    <div class="user-icon">
      <a href="/account"><img src="images/LK-logo.png" alt="ЛК"></a>
    </div>
  </header>
  <div class="container container__index">
    <% if (user) { %>
      <div class="index__question">На что ты готов ради ГЭМБЛИНГА?</div>
      <div class="index__choice">Выбор за тобой</div>
      <div class="index__tablets tablets">
        <div class="tablets__1">
          <a href="redPill"><img src="images/red_pillow.png" alt="red pillow" /></a>
        </div>
        <!-- <div class="tablets__2">
          <img src="images/blue_pillow.png" alt="blue pillow" />
        </div> -->
        <div class="tablets__2">
          <a href="bluePill"><img src="images/blue_pillow.png" alt="blue pillow" /></a>
        </div>
      </div>
    </div>
    <!-- Добавляем аудио элемент -->
    <audio id="background-audio" src="/sounds/Indila - Tourner Dans Le Vide.mp3" preload="auto"></audio>
    <script src="js/audio.js"></script>
  <% } else { %>
    <audio id="background-audio" src="/sounds/lets-go-gambling.mp3" preload="auto"></audio>
    <script src="js/audio.js"></script>
    <p>Для доступа к содержимому, пожалуйста, <a href="/account">авторизуйтесь</a>.</p>
  <% } %>
</body>

</html>